<section id="albums">
  {%- for album in collections.albumsAscending -%}
    <article>
      <h2>{{ album.data.title }}</h2>
      <div class="album {% if album.data.double %}album--double{% endif %}" style="--color: {{ album.data.color }}">
        <div class="album__inner">
          <div class="album__discs"></div>
          <div class="album__top"></div>
          <div class="album__bottom"></div>
          <img src="img/{{ album.fileSlug }}.jpg"/>
        </div>
      </div>
    </article>
  {%- endfor -%}
</section>
