<section id="movies">
  {%- for movie in collections.moviesAscending -%}
    <article>
      <h2>{{ movie.data.title }}</h2>
      <div class="movie">
        <div class="movie__inner">
          <img class="movie__poster" src="img/{{ movie.fileSlug }}.jpg"/>
        </div>
      </div>
    </article>
  {%- endfor -%}
</section>