@import '../config/medias';

html {
  scroll-behavior: smooth;
}

body {
  background-color:#ffdab3;

  color: black;
  font-family: Arial, sans-serif;
  padding: 1rem;
  line-height: 1.4;

  @include medium {
    background-image:
      radial-gradient(at 27% 49%, hsla(76,76%,67%,1) 0px, transparent 50%),
      radial-gradient(at 42% 91%, hsla(138,82%,73%,1) 0px, transparent 50%),
      radial-gradient(at 70% 45%, hsla(89,83%,77%,1) 0px, transparent 50%),
      radial-gradient(at 56% 84%, hsla(255,99%,74%,1) 0px, transparent 50%),
      radial-gradient(at 37% 92%, hsla(76,74%,69%,1) 0px, transparent 50%),
      radial-gradient(at 97% 71%, hsla(94,90%,71%,1) 0px, transparent 50%);
  }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

em,
cite,
i {
  font-style: italic;
}

summary {
  cursor: pointer;
}

a {
  color: #662222;
}

sup {
  vertical-align: super;
  font-size: smaller;
}
