<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Le mieux de 2020</title>
    <link href="./dist/styles.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <!-- <header class="header">
      <h1>{{ title }}</h1>
      <nav>
        <ul class="menu">
          <li><a href="#books">Livres</a></li>
          <li><a href="#movies">Films</a></li>
          <li><a href="#albums">Albums</a></li>
        </ul>
      </nav>
    </header> -->
    <main>
      {% include partials/books %}
      <!-- {% include partials/albums %} -->
      <!-- {% include partials/movies %} -->
    </main>
    <footer>Crédits</footer>
  </body>
</html>
