.album {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 45rem;
}

.album__inner {
  width: var(--base-size);
  height: var(--base-size);
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  will-change: transform;

  .album:hover & {
    transform: rotateY(-25deg);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color);
    transform: translateZ(-1rem);
    box-shadow: 0.3125rem 0.3125rem 1rem #888;
  }
}

.album__top,
.album__bottom {
  content: '';
  background: var(--color);
  position: absolute;
  left: 0;
  right: 0;
  height: 1rem;
}

.album__top {
  top: 0;
  transform: rotateX(-90deg) translate3d(0, 0.5rem, -0.5rem);
}

.album__bottom {
  bottom: 0;
  transform: rotateX(90deg) translate3d(0, -0.5rem, -0.5rem);
}

.album__discs {
  /* First disc */
  &::before {
    z-index: -1;

    // Translate the disc outside the sleeve on hover
    .album:hover & {
      transform: translateX(23%) rotate(-10deg);
    }

    // Less translation if there is a second disc
    .album--double:hover & {
      transform: translateX(20%) rotate(-10deg);
    }

    // No shadow if there is a second disc (which will have the shadow)
    .album--double & {
      box-shadow: none;
    }
  }

  /* Optional second disc */
  &::after {
    z-index: -2;

    .album:hover & {
      transform: translateX(27%) rotate(-10deg);
    }
  }

  &::before,
  .album--double &::after {
    content: '';
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    display: block;
    height: calc(var(--base-size) - 0.5rem);
    width: calc(var(--base-size) - 0.5rem);
    background-color: #222222;
    border-radius: 50%;
    transition: 0.75s transform;
    will-change: transform;
    box-shadow: 0.1rem 0 0.3rem 0 #666;
    background: linear-gradient(
        155deg,
        rgba(0, 0, 0, 0.5),
        rgba(255, 255, 255, 0.05),
        rgba(0, 0, 0, 0.5)
      ),
      linear-gradient(165deg, #000, rgba(255, 255, 255, 0.05), #000),
      -webkit-radial-gradient(#222 0%, #222 40%, #000 40.25%, #222 40.5%, #222 47%, #000 47.25%, #222
            47.5%, #222 56%, #000 56.25%, #222 56.5%, #222 64%, #000 64.25%, #222 64.5%, #222 68%, #000
            68.5%);
  }
}
