.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.item__title {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.2;
}

.item__subtitle {
  font-size: 1.4rem;
}

.item__image {
  margin: 2rem 0;
}

.item__details {
  order: 1;
}

.item__cta {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--cta-color, var(--cover-color));
  color: var(--cta-text-color, black);
}

.item__description {
  margin-top: 1rem;
}

.item__misc {
  margin: 0.5rem 0;
  color: #662222;
}
