.items {
  margin: 3rem 0;
  display: grid;
  grid-gap: 4rem;

  @include medium {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 8rem;
    margin: 4rem;
  }
}

.item__header {
  @include medium {
    text-align: center;
  }
}

.item {
  display: flex;
  flex-direction: column;
}

.item__title {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.2;
}

.item__subtitle {
  font-size: 1.4rem;
  line-height: 1.2;

  @include medium {
    text-align: center;
  }
}

.item__author {
  margin-top: 0.5em;
}

.item__image {
  margin: 2rem 0;
}

.item__details {
  order: 1;
}

.item__cta {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: var(--cta-color, var(--cover-color));
  color: var(--cta-text-color, black);

  @include medium {
    display: none;
  }
}

.item__description {
  padding-top: 1rem;
}

.item__misc {
  margin: 0.5rem 0;
  color: #662222;
}
